<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

	<display-name>SpringMVCTest</display-name>

	<!-- Some pictures and details about MVC basics: -->
	<!-- http://www.mkyong.com/spring-mvc/spring-mvc-hello-world-example/ -->
	<servlet>
		<servlet-name>spring-mvc-test</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>

		<!-- Use Java based configuration -->
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>

		<!-- Specify the package where configuration classes are located -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>com.learning.web.config</param-value>
		</init-param>

		<!-- https://stackoverflow.com/a/11817368/7464024 -->
		<!-- Use Java based configuration instead [servletname]-servlet.xml -->
		<listener>
			<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		</listener>
	</servlet>

	<!-- The Servlet is mapped to / – meaning it becomes the default Servlet of the application. -->
	<!-- It will pick up every pattern that doesn’t have another exact match defined by another Servlet -->
	<servlet-mapping>
		<servlet-name>spring-mvc-test</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
